<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/sunny/login.css">
<head th:insert="~{head::myhead}"></head>
</head>


<div th:insert="~{head::myscript}"></div>
<script type="text/javascript" src="javascript/login.js"></script>

	<body>
		<!--
		<div>
			<h2 class="logintitle">登入</h2>
		</div>
	
		<p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
		<p th:text=${er_msg} th:if="${not #strings.isEmpty(er_msg)}"></p>
		<form action="/login" method="post">
		    帳號<input type="text" class="formtext" name="useraccount">
		    密碼<input type="text" class="formtext" name="userpassword">
		    <input type="submit" onclick="pressed()" value="送出">    
		</form>
		  -->
		  
		<div class="mylayout">
			<form action="/login" method="post"> <!-- bootstrap -->
			  <!-- Email input -->
			  <div class="form-outline mb-4">
			    <input type="text" id="form2Example1" class="form-control" name="useraccount"/>
			    <label class="form-label" for="form2Example1">帳號</label>
			  </div>
			
			  <!-- Password input -->
			  <div class="form-outline mb-4">
			    <input type="password" id="form2Example2" class="form-control" name="userpassword" />
			    <label class="form-label" for="form2Example2">密碼</label>
			  </div>
			
			  <!-- 2 column grid layout for inline styling -->
			  <div class="row mb-4">
			    <div class="col d-flex justify-content-center">
			      <!-- Checkbox -->
			      <div class="form-check">
			        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
			        <label class="form-check-label" for="form2Example31"> 記住我 </label>
			      </div>
			    </div>
			
			    <div class="col">
			      <!-- Simple link -->
			      <a href="#!">忘記密碼?</a>
			    </div>
			  </div>
			
			  <!-- Submit button -->
			  <input type="submit" class="btn btn-primary btn-block mb-4" value="送出"></binput>
			
			  <!-- Register buttons -->
			  <div class="text-center">
			    <p>還不是會員嗎? <a th:href="@{/toRegister}">註冊</a></p>
			    
			     <p th:text="${er_msg}"></p>
			    
			   
			    <button type="button" class="btn btn-link btn-floating mx-1">
			      <i class="fab fa-facebook-f"></i>
			    </button>
			
			    <button type="button" class="btn btn-link btn-floating mx-1">
			      <i class="fab fa-google"></i>
			    </button>
			
			    <button type="button" class="btn btn-link btn-floating mx-1">
			      <i class="fab fa-twitter"></i>
			    </button>
			
			    <button type="button" class="btn btn-link btn-floating mx-1">
			      <i class="fab fa-github"></i>
			    </button>
			  </div>
			</form>
		</div>
	</body>
</html>