<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工資料表</title>
    <link rel="stylesheet" href="/css/main.css">
   
    <!--href前面有一槓帶表決對路徑，從網站根目錄開始，否則是相對路徑，會變成http://localhost:8080/emp/css/main.css，所以導入th:replace還是要導cs? -->
    
</head>
	<nav th:replace="~{main::top_nav}"></nav>
	<body>
		
		<div>
			<form th:action="${employee!=null}?@{/alterEmployee}:@{/addEmployee}"  method="post">
			<!-- 注意 如果加了參數去接修改表單使用的值 那新增這邊要處理 不然會錯誤 -->
				<input type='text' name="id" th:value="${employee!=null}?${employee.id}" hidden >
			    <p name="name">名稱</p>
				<input type='text' name="name" th:value="${employee!=null}?${employee.name}">
				<p >職位</p>
				<input type='text' name="position" th:value="${employee!=null}?${employee.position}">
				<p>薪資</p>
				<input type='text' name="pay" th:value="${employee!=null}?${employee.pay}">
				<p>到職日</p>
				<input type='date' name="on_board_date" th:value="${employee!=null}?${#dates.format(employee.on_board_date,'yyyy-MM-dd')}">
				<input type='submit' value="送出">
			</form>
		</div>
	</body>
</html>