#header{
	
}

body{
	min-height: 700px;
}

.mylayout{
	min-height: 700px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.StraightMylayout{
	display:flex;
	flex-direction:column;
	min-height: 700px;	
	justify-content:center;
	align-items:center;
}

.StraightMylayoutSon{
	
	display:flex;
	min-height: 150px;	
	min-width: 350px;	
	flex-direction:column;
	justify-content:center;
	border-width:2px;
	border-style:dashed;
	border-color:#FFAC55;
	padding:2px;
	margin:2px;
	//align-items:center; 使文字靠左

}

.MylayoutSon{
	margin:10px;
}



.headerTop h2{
	background: #eaeaea;
	
  	height: 100px;
  	margin: 0 auto;
  	text-align:center;
  	line-height: 100px;
}

.top_nav{
	display:flex;
	
	background-color:#FFB326;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}

.nav_item{
	color:white;
	padding:10px;
	font-size: 24px;
	text-decoration:none;
	
}

.mybody{
	padding:20px;
	margin:20px;
}

.nav_item:hover {color:#A86E00};


.nav_left_item{
	
}
.nav_right_item{
	margin-left:auto;
	
}

.alter_btn{
	color:#003C9D;
  	background-color:#fff;
}