<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<head th:insert="~{head::myhead}"></head>
</head>
<div th:insert="~{head::myscript}"></div>

<nav class="top_nav" th:fragment="top_nav">	
	<div class="nav_left_item">
		<a class="nav_item" href="/emp/emp_list">員工資料庫</a><!-- 有斜線是絕對路徑，沒斜線的話再連一次會變emp/emp/emplist;然後部屬會多一個應用程式路徑，應該抓一個baseUrl-->
		<a class="nav_item" href="">項目2</a>
		<a class="nav_item" href="">項目3</a>
	</div>
	<div class="nav_right_item">
		<!-- <a class="nav_item" th:text="${session.loginUser}">使用者帳號</a> -->
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" th:text="${session.loginUser}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    下拉按鈕
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="/">Action</a>
		    <a class="dropdown-item" href="/">Another action</a>
		    <a class="dropdown-item" href="/">Something else here</a>
		  </div>
		</div>
		
		
		
	</div>
</nav>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="headerTop">
                <h2>這裡是Sunnacky 的小窩</h2>
            </div>
            <div class="headBottom">
                <nav>
                    <a href="javascript:;">加密字串</a>
                    <a href="javascript:;" onclick="sayHello()">說你好</a>
                    <h5>胖胖棋</h5>
                </nav>
            </div>
        </div>
    </div>
    <script>
        function sayHello(){
            
            var url = "/api/hello";
            $.ajax({
                url: url,
                data: JSON.stringify({a:100, b:200}),
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                success: function(data){
                    alert(data);
                },
                async: false
            });
        }
    </script>
</body>

</html>