<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="~{head::myhead}"></head>
</head>
<div th:insert="~{head::myscript}"></div>
<script type="text/javascript" language="JavaScript" src="/javascript/message.js"></script>
    <!--href前面有一槓帶表決對路徑，從網站根目錄開始，否則是相對路徑，會變成http://localhost:8080/emp/css/main.css，所以導入th:replace還是要導cs? -->
    
	<nav th:replace="~{main::top_nav}"></nav>
	<body>
		<div class="mybody " style="border-width:3px;border-style:dashed;border-color:#FFAC55;padding:5px;">
			<h3>這是留言板</h3>
			
			<!-- 為何用button搭配ajax無法下載檔案?用form就可以? -->
			<!--<button class="download_btn" id="download_txt">下載文字檔</button>-->
			
			<form action="/addMessage" method="post" >
				<div  class="StraightMylayout">
					<div class="MylayoutSon">暱稱 <input type="text" name="nickname" required/></div>
					
					<div class="MylayoutSon"><textarea style="height:150px;width:300px" name="message" required></textarea></div>
					<input class="MylayoutSon btn btn-secondary" type="submit" value="我要留言"/> 
				</div>
			</form> 
				<div id="message_board" class="StraightMylayout">
				</div>
		</div>
	</body>
</html>